<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtEsWv75WPlXrxL25dem7H_Xsc0EgQYYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1088300194458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testt</string>
	<key>PROJECT_ID</key>
	<string>dadob-92dfe</string>
	<key>STORAGE_BUCKET</key>
	<string>dadob-92dfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088300194458:ios:ffa5b47e5d6dbf69fd9d23</string>
</dict>
</plist>